.box {
  border:50px solid red;
  padding:50px;
  width:200px;
  margin-bottom:20px;
}

.green {
  border-color:green;
  /* display: none; */
  /* visibility: hidden; */
}

.blue {
  border-color:blue;
}


//display:none - 완전히 사라짐, 공간도 사라진다.

//visibility:hidden - 사라지지만, 공간은 남겨진다