.box{
  width:100px;
  height:100px;
}

.red{
  background-color:red;
}

.yellow{
  background-color:yellow;
}

.blue{
  background-color:blue;
}

.green{
  background-color:green;
} 

.locate{
  position:static;
  left:30px;
  top:30px;  
}

//static - 웹 브라우저 기본값 - div순서대로 보여줌