.box{
  width:100px;
  height:100px;
}

.red{
  background-color:red;
}

.yellow{
  background-color:yellow;
}

.blue{
  background-color:blue;
}

.green{
  background-color:green;
} 

.locate{
  position:relative;
  left:30px;
  top:30px;  
}

//position relative : 있던 위치에서 top,left,bottom,right 에 의해 움직임